{% load static %}
{% load products_tags %}
{% load spurl %}

<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'products/css/styles.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'products/css/item.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'products/css/forms.css' %}" rel="stylesheet" />
    <meta http-equv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'products/images/main.ico'%}" type="image/x-icon">
    <meta name="viewport" content="width=device-width", "initial-scale=1.0">
</head>

<body class="body">
    <header class="header container">
        {% block navmenu %}
        <a href="{% url 'home' %}" class="header__logo-link">
            <img src="/static/products/images/main.svg" class="header__logo-link-img">
        </a>
        <ul class="header__navlist">
            {% for m in menu %}
                    <li class="header__navlist-item">
                        <a href="{% url m.url_name %}" class="header__navlist-item-link">{{m.title}}</a>
                    </li>
            {% endfor %}
            {% if request.user.is_authenticated %}
                <li class="header__navlist-item last">{{user.username}} | <a href="{% url 'logout' %}"> Выйти </a></li>
            {% else %}
                <li class="header__navlist-item last">
                    <a href="{% url 'register' %}" class="header__navlist-item-link">Регистрация</a> | <a href="{% url 'login' %}" class="header__navlist-item-link">Вход</a>
                </li>
            {% endif %}
        </ul>
        {% endblock navmenu %}
    </header>
    <main class="main">
        <p class="trans">
        {% block content %}
        {% endblock content %}
        {% if page_obj.has_other_pages %}
            <ul class="list-pages">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-num">&lt;</a>
                {% endif %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li>
                            <a href="{% spurl query=request.GET set_query='page={{ p }}'%}" class="page-num">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page-num">&gt;</a>
                {% endif %}
            </ul> 
        {% endif %}
    </main>
    <footer class="footer">
        {% block footer %}
        <ul class="body__footer">
            {% for m in menu %}
            <li class="body__footer-item">
                {{m.title}}
            </li>
            {% endfor %}
        </ul>
        {% endblock footer %}
    </footer>
</body>
</html>
    